body{
    padding-top: 10%;
}

h1{
    text-align: center;
    margin: 2% auto;
}

.opciones{
    margin-bottom:5%;
    text-align: center;
}

.inicio,.regresar{
    margin: 2% auto;
    text-align: center;
}

#btn-inicio,#btn-regresar{
    font-size: 150%;
    width: 20%;
}

#op-2,#op-1{
    align-items: center;
    font-size: 170%;
    text-align: center;
    border-radius: 60%;
    padding: 4%;   
}

#op-1{
    margin-right: 3%;
    background-color: rgb(81, 208, 81);
}

#op-2{
    background-color: rgb(232, 69, 69);
}

/* Sección de responsividad */
@media screen and (max-width:750px){
    body{
        width: auto;
    }

    #op-1,#btn-inicio, #op-2, #btn-regresar{
        font-size: auto;
        width: auto;
    }

    .regresar{
        margin-bottom: 6%;
    }

    .opciones{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 150%;
    }

    #op-1{
        margin: auto;
        margin-bottom: 3%;
        margin-top: 3%;
    }

    #op-1, #op-2{
        width: 35%;
        padding: 6% 14% 6% 14%;
    }
}

@media screen and (max-width:490px){
    #op-1, #op-2{
        width: 65%;
        padding: 6% 14% 6% 14%;
    }
}