body{
    padding-top: 10%;
}

h1{
    font-size: 240%;
    text-align: center;
    margin: 2% auto;
}

.opciones{
    margin: 5% auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.inicio,.regresar{
    margin: 5% auto;
    text-align: center;
}

#btn-regresar,#btn-inicio{
    font-size: 150%;
    width: 30%;
    padding: 3% 0%;
}

#op-2,#op-1{
    font-size: 150%;
    text-align: center;
    padding: 3% 0%;
    width: 60%;
}

#op-1{
    margin-bottom: 4%;
}

/* Sección de responsividad */
@media screen and (max-width:950px){
    body{
        width: auto;
    }

    #op-1,#btn-inicio, #op-2{
        font-size: 150%;
        width: auto;
    }

    #op-1{
        margin: 0 auto;
    }

    #op-2{
        margin: 4% 0 1% 0;
    }

    #op-1, #op-2{
        width: 70%;
    }

    #btn-regresar,#btn-inicio{
        width: 50%;
    }
}