body{
    padding-top: 10%;
}

h1{
    font-size: 240%;
    text-align: center;
    margin: 2% auto;
}

.opciones{
    margin: 5% auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.inicio,.regresar{
    margin: 5% auto;
    text-align: center;
}

button{
    box-sizing: border-box;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: #141414;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	transition: .3s ease all;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}

#btn-regresar,#btn-inicio{
    font-size: 150%;
    width: 30%;
    padding: 3% 0%;
}

#btn-inicio{
    background-color: rgb(71, 139, 194);
}

#btn-regresar{
    background-color: rgb(61, 201, 73);
}

#op-2,#op-1{
    font-size: 150%;
    text-align: center;
    padding: 3% 0%;
    width: 60%;
}

#op-1{
    margin-bottom: 4%;
    background-color: rgb(33, 142, 221);
}

#op-2{
    background-color: rgb(166, 48, 48);
}

/* Sección de responsividad */
@media screen and (max-width:950px){
    body{
        width: auto;
    }

    #op-1,#btn-inicio, #op-2{
        font-size: 150%;
        width: auto;
    }

    #op-1{
        margin: 0 auto;
    }

    #op-2{
        margin: 4% 0 1% 0;
    }

    #op-1, #op-2{
        width: 70%;
    }

    #btn-regresar,#btn-inicio{
        width: 50%;
    }
}