body{
    padding-top: 10%;
}

h1{
    text-align: center;
    margin: 2% auto;
}

.opciones,.inicio{
    margin: 5% auto;
    text-align: center;
}

#desasentamiento,#btn-inicio{
    font-size: 150%;
    width: 20%;
}

#normativa{
    font-size: 150%;
    width: 20%;
}

#desasentamiento{
    margin: auto 2%;
}
