body{
    padding-top: 10%;
}

h1{
    text-align: center;
    margin: 2% auto;
    font-family: Delicious, sans-serif;
}

@font-face {
    font-family:  Delicious;
    src: url('Delicious-Roman.otf');
}

.opciones,.inicio{
    margin: 5% auto;
    text-align: center;
}

.opciones{
    width: 60%;
}

#desasentamiento,#btn-inicio{
    font-size: 150%;
}

#btn-inicio{
    width: 30%;
}

#desasentamiento,#normativa{
    width: 45%;
    padding-top: 2%;
    padding-bottom: 2%;
    height: 50%;
}

button{
    box-sizing: border-box;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: #141414;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	transition: .3s ease all;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}

#btn-inicio{
    padding: 2%;
    background-color: rgb(71, 139, 194);
}

#normativa{
    font-size: 150%;
    background-color: rgba(144, 0, 14, 0.745);
}

#desasentamiento{
    margin: auto 2%;
    background-color: rgb(217, 135, 12);
}

/* Sección de responsividad */
@media screen and (max-width:950px){
    body{
        width: auto;
    }

    #desasentamiento,#btn-inicio, #normativa{
        font-size: 150%;
        width: auto;
    }

    .opciones{
        display: flex;
        flex-direction: column;
    }

    #desasentamiento{
        margin: auto 0%;
    }

    #normativa{
        margin: 4% 0 1% 0;
    }

    #desasentamiento, #normativa{
        width: 130%;
        right: 15%;
    }

    #btn-inicio{
        width: 40%;
    }

    #btn-inicio, #desasentamiento, #normativa{
        padding: 3%;
    }
}