body{
    padding-top: 10%;
}

h1{
    text-align: center;
    margin: 2% auto;
}

.opciones,.inicio{
    margin: 5% auto;
    text-align: center;
}

#desasentamiento,#btn-inicio{
    font-size: 150%;
    width: 20%;
}

#normativa{
    font-size: 150%;
    width: 20%;
}

#desasentamiento{
    margin: auto 2%;
}

/* Sección de responsividad */
@media screen and (max-width:950px){
    body{
        width: auto;
    }

    #desasentamiento,#btn-inicio, #normativa{
        font-size: 150%;
        width: auto;
    }

    .opciones{
        display: flex;
        flex-direction: column;
    }

    #normativa{
        margin: 4% 0 1% 0;
    }

    #desasentamiento, #normativa{
        width: 70%;
    }
}