body{
    padding-top: 10%;
}

h1,img,button{
    position: relative;
    margin: 2% auto;
    text-align: center;
}

main,header{
    text-align: center; 
}

.button{
    margin-top: 2%;
}

button{
    font-size: 130%;
}

button:hover{
    background-color: #04AA6D;
    color: white;
    font-size: 180%;
    cursor: pointer;
}

@media screen and (max-width:650px){
    img{
        margin: 10% auto;
    }
}
