body{
    padding-top: 10%;
}

h1,img,button{
    position: relative;
    margin: 2% auto;
    text-align: center;
    font-family: Delicious, sans-serif;
}

h1{
    font-size: 220%;
    font-weight: 300;
}

@font-face {
    font-family:  Delicious;
    src: url('Delicious-Roman.otf');
}
 
main,header{
    text-align: center; 
}

.button{
    margin-top: 2%;
}

button{
    font-size: 130%;
    padding: 2%;

    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #62b522;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

button:hover{
    background-color: #04AA6D;
    color: white;
    font-size: 180%;
    cursor: pointer;
}

@media screen and (max-width:650px){
    img{
        margin: 10% auto;
    }

    button{
        padding: 4%;
    }
}
